PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=your_password
DB_DATABASE=LearningCenterDB
DB_SSL=false
DB_SYNCHRONIZE=true

JWT_SECRET=change-me
JWT_EXPIRES_IN=1h

ADMIN_EMAIL=admin@learningcenter.local
ADMIN_PASSWORD=change-me
